        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 40px;
        }
        
        h2 {
            font-family: 'Poppins', sans-serif;
            font-size: 30px;
        }
        
        .font-color {
            color: blue;
        }
        
        section {
            display: flex;
        }
        
        .half-width {
            width: 50%;
            padding: 7%;
        }
        
        .link-food {
            background-color: khaki;
            background-image: -linear-gradient(khaki blue);
            text-decoration: none;
            padding: 10px 40px;
            border-radius: 20px;
        }
        
        .up-baner {
            background-image: url(Frame\ 58.jpg);
            background-repeat: round;
        }
        
        #text-p {
            font-size: large;
        }
        
        .down-baner {
            background-image: url(Frame\ 57.jpg);
            background-repeat: round;
        }
        
        #center-point {
            text-align: center;
        }
        
        #text-size {
            margin-left: 20%;
            margin-right: 20%;
        }
        
        .imag-line {
            padding: 5px;
        }
        
        .imag-line img {
            width: 70%;
            display: inline;
            margin: center;
        }
        
        .tex-line {
            text-align: center;
        }
        
        #recipe-wraper {
            margin: 0 auto;
            display: inline-flex;
            text-align: center;
        }
        
        .foter-color {
            background-color: darkolivegreen;
            text-align: center;
        }
        
        #foter-word {
            color: darkorange;
        }