        h1 {
            font-family: font-family: 'Poppins', sans-serif;
            font-size: 40px;
        }
        
        h2 {
            font-family: font-family: 'Poppins', sans-serif;
            font-size: 30px;
        }
        
        .font-color {
            color: blue;
        }
        
        section {
            display: flex;
        }
        
        .half-width {
            width: 50%;
            padding: 7%;
        }
        
        .link-food {
            background-color: khaki;
            text-decoration: none;
            padding: 10px 40px;
            border-radius: 20px;
        }
        
        .up-baner {
            background-image: url(Frame\ 58.jpg);
            background-repeat: round;
        }
        
        #text-p {
            font-size: large;
        }
        
        .down-baner {
            background-image: url(Frame\ 57.jpg);
            background-repeat: round;
        }
        
        #center-point {
            text-align: center;
        }
        
        .food-pic {
            align-items: flex-end;
        }
        
        .imag-food img {
            width: 20%;
            align-items: center;
        }